.chat{
  width: 100%;
  color: white;
}

.text{
  margin-left: 10px;
}

.user{
  margin-top: 20px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
}

.message{
  font-size: 19px;
  margin-top: 5px;
}
